@model OTEL.Data.OtelTanitim

@{
    ViewBag.Title = "Hakkimizda";
}
<div>
    <div class="jumbotron">
        OTELİMİZ-İMAGE
    </div>
    <div class="row">
        
            <h2>Otelimiz</h2>
            <p>
                Türk mutfağı,  yöresel mutfak ve uluslararası mutfaklarda beğeni kazanmış yemek çeşitleri, Gece Kulübü, Restaurant  ve teraslarıyla Otelimizde konaklamasanız bile sizlere hizmet vermektedir.
            </p>
        <p>
            Antalya' daki eviniz Bilge Oteli' nin Kapalı ve Açık Otoparkı ile araçlarınız,  güvenli bir konumdadır..

        </p>
        <p>
           Her türlü toplantı yapılmak üzere ekipmanlarla donatılan 90 - 150 ve 300 kişilik Toplantı  Salonlarımız  hizmetinizdedir.
        </p>
        <p>
            600 kişi kapasiteli, doğal atmosferli Antique diskomuz yöremizin vazgeçilmez bir eğlence mekanıdır.
            </p>
        <p>
            100 kişilik Dionysos Barda her akşam " Canlı Müzik " sizlere günün yorgunluğunu unutturacaktır.
        </p>
        <div class="col-md-4">


        </div>
        </div>

    </div>