@model OTEL.Data.Oda

@{
    ViewBag.Title = "Odalarımız";
}

<h2>Odalarımız</h2>

Müşterilerimiz günün herhangi bir saati giriş yapabilmektedir. Ancak giriş yapan müşterinin o gün öğleden sonra saat 14:00 de giriş yaptığı kabul edilir. Çıkış işlemi ise saat sabah 10:00 da tamamlanmalıdır. <br /><br />
<div class=" row">
    <div class="col-md-4">Resimler
        </div>
    <div class="col-md-4">
        Resimler
    </div>
    <div class="col-md-4">
        Resimler
    </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <strong>TEK KİŞİLİK ODA</strong><br />
        Odamız'da;<br />
        • TV<br />
        • Direk Bağlantılı Telefon<br />
        • Saç Kurutma Makinası<br />
        • Devamlı Sıcak Su<br />
        • İnternet Bağlantısı<br />
        • Kesintisiz Elektrik<br />
        • 24 saat açık oda servisimiz hizmetinizdedir.<br />

    </div>
    <div class="col-md-4">
      <strong>ÇİFT KİŞİLİK ODA</strong><br />
        Odamız'da;<br />
        • TV<br />
        • Mini Bar<br />
        • Direk Bağlantılı Telefon<br />
        • Saç Kurutma Makinası<br />
        • Devamlı Sıcak Su<br />
        • İnternet Bağlantısı<br />
        • Kesintisiz Elektrik<br />
        • 24 saat açık oda servisimiz hizmetinizdedir.<br />

</div>
<div class="col-md-4">
  <strong>KRAL DAİRESİ</strong><br />
    Odamız'da;<br />
    • TV<br />
    • Mini Bar<br />
    • Direk Bağlantılı Telefon<br />
    • Saç Kurutma Makinası<br />
    • Devamlı Sıcak Su<br />
    • İnternet Bağlantısı<br />
    • Kesintisiz Elektrik<br />
    • 24 saat açık oda servisimiz hizmetinizdedir.<br />

    </div></div>

